# **thoretical questions**

# 1)  What are data structures, and why are they important?
   - Data structures are the ways of organizing and storing data so that we can use it efficiently.
    - importance of data structures:-
       - it Helps us to  find, add, update, or delete data quickly.
       - Right data structures make programs faster and use less memory.
       - proper data structures also reduce the time complexity of algorithms.

# 2)  Explain the difference between mutable and immutable data types with examples?
  - mutable data types :- can changed or update after creation.we can modify their contents, such as adding, removing, or updating elements.These objects allow for in-place modification, which means they can change without creating a new object in memory.
                 ex- list,set,dictionary

  - immutable data types:- cannot changed or update after creation.
    if changes are done, then new object is created
           ex- tuple,string,frozenset,int

In [ ]:
# mutable data types
my_list = [1, 2, 3]
print('old id :',id(my_list))  # Memory address before

my_list.append(4)
print(my_list)
print('new id :',id(my_list))  # Same memory address → it's mutable

old id : 134345457842304
[1, 2, 3, 4]
new id : 134345457842304

In [ ]:
# immutable data types
my_str = "hello"
print('old id :',id(my_str))  # Memory address before

my_str += " world"
print(my_str)
print('new id :',id(my_str))  # Different memory address → it's immutable

old id : 134346261475760
hello world
new id : 134345877478576

# 3)  What are the main differences between lists and tuples in Python?
     - list:- mutable(can change or update)
              syntax- []

     - tuple:- immutable(cannot change or update)
              syntax- ()

# 4)  Describe how dictionaries store data?
  - A dictionary in Python stores data as {key :value} pairs

In [ ]:
my_dict = {
    "name": "Shubham",
    "age": 23,
    "city": "Pune"
}
my_dict

{'name': 'Shubham', 'age': 23, 'city': 'Pune'}

# 5)  Why might you use a set instead of a list in Python?
  - because To Store Unique Items Only

In [ ]:
my_list = [1,2,2,2,3,3,4,8,3]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 8}

# 6)  What is a string in Python, and how is it different from a list?
  - A string is a sequence of characters, used to represent text.it is immutable.
           ex-    my_string = "Hello, World!"

  - list is hetrogeneous collection of data type that can hold a sequence of items (like integers, strings, tuples, floats, or even other lists). Lists are mutable
           ex-    my_list = [1, 2, 3, "Hello", (4,8,7), [45,87]]

# 7) How do tuples ensure data integrity in Python?
- Data integrity means keeping your data correct, consistent, and unchangeable.
tuples are immutable i.e it cannot be changed or update after creation.therefore,( No adding, removing, or modifying elements.)

In [ ]:
t = (1, 2, 3)
t[0] = 10    # cannot changed
output:- error, 'tuple' object does not support item assignment

# 8)  What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores data in key-value pairs for fast lookup, insertion, and deletion.
-Key is hashed using a hash function → turns it into a unique number (hash value)
-This hash value decides where to store the value in memory (like an index).
-When you access the key, the program uses the hash to instantly find the value.

      - In Python, the dict type is implemented using a hash table

In [ ]:
my_dict = {
    "name": "Shubham",
    "age": 23
}
print(my_dict.keys())
print(my_dict.values())

dict_keys(['name', 'age'])
dict_values(['Shubham', 23])

# 9)  Can lists contain different data types in Python?
- yes,Lists are heterogeneous collections of data types that can hold a sequence of items—such as integers, strings, tuples, floats, or even other lists. They are also mutable, meaning their elements can be changed after the list is created.
- ex-    my_list = [1, 2, 3, "Hello", (4,8,7), [45,87]]

# 10)  Explain why strings are immutable in Python?
- Strings are immutable in Python, meaning once a string is created, its contents cannot be changed.
- it has several benifits:-
* a)  Memory Efficiency- Python optimizes memory usage by reusing immutable objects like strings. For example, if multiple variables hold the same string value, Python can point them to the same memory location instead of creating copies.

* in case of Immutable Types (like str, int, float, tuple)
       x = "hello"
       y = "hello"
       print(id(x), id(y))  # Same memory location
     This works because they are immutable—Python knows their value won’t change, so it’s safe to reuse them.

* in case of Mutable Types (like list, dict, set)
       list1 = [1, 2, 3]
       list2 = [1, 2, 3]
      print(id(list1), id(list2))  # Different memory locations
     even though list1 and list2 have the same contents,but they are separate objects. That’s because if one changes, the other should not be affected.



* b) Hashing & Dictionary Keys- Because strings are immutable, they can be used as keys in dictionaries and elements in sets.

* c) Thread-Safety- Immutability makes strings inherently thread-safe, reducing issues when multiple threads access the same string data.

* let's Imagine two threads both accessing the same string
* ex-
      s = "data"
      Thread 1 reads s
      Thread 2 reads s
Since no thread can modify s, it's guaranteed that they're both seeing the exact same data.
* In multithreaded programs:
   Immutable objects (like strings) don’t need locks or synchronization.
   This makes your program faster and safer without extra code.

# 11)  What advantages do dictionaries offer over lists for certain tasks?
-Dictionaries (dict) offer some key advantages over lists (list) because dictionaries offers key-value pairs and provide fast lookups.
* dictionary advantages over list:-
-a) Faster Lookup Time-
 - List: Searching for an item in a list takes O(n) time (linear search).
 - Dict: Looking up a value by key in a dictionary takes O(1) time on average.
-TIME COMPLEXITY-
     students = ['Amit', 'Riya', 'John']
     print('John' in students)  # O(n)

     student_marks = {'Amit': 85, 'Riya': 90, 'John': 78}
     print('John' in student_marks)  # O(1)
-b) Key-Value Mapping- dictionary makes your code cleaner and more meaningful because of providing {key:value} pairs.
 - Avoiding Duplicates in Keys- Dictionaries do not allow duplicate keys, so you can use them to store unique identifiers (like usernames, IDs, etc.)
-c) No Need to Remember Indexes.

# 12)  Describe a scenario where using a tuple would be preferable over a list?
-  Use a Tuple When You Want Immutable, Fixed-Size Data.
-
     point = (10, 20)    # for 2-D cordinates
- Using a tuple here is preferable over a list because:

 - The number of elements is fixed (always two: x and y).
 - You don’t want this data to be changed accidentally.
 - It's semantically meaningful—this is a single, grouped unit of related values.

-  Tuples Are Immutable. so it's provide:-
 - Safety: Prevents accidental changes.
 - Hashability: Tuples can be used as keys in dictionaries or elements in sets (lists can't).
-
     locations = {
     (10, 20): "School",
     (15, 25): "Library"
     }
- Using a list as a key here would raise an error!

# 13) How do sets handle duplicate values in Python?
- Sets Automatically Remove Duplicates. A set is an unordered collection of unique elements. That means, Any duplicate values are automatically removed when the set is created or updated.

- sets use hashing to check for duplicates. If the item already exists (same hash & value), it’s not added again.
 - Hash Function is Called: When you add an item (like a number, string, or tuple) to a set, Python calls its built-in __hash__() function.
  - Hash Value Determines Where to Store It: The hash value determines the index (or "bucket") in the internal table where the item should go.
  - Equality Check for Collisions: If another item with the same hash already exists in that spot, Python uses __eq__() to check if the item is actually the same (in case of hash collisions).
  - If It's Already There → Skip It. If the item is already present (same hash and equality), Python does not add it again.
-

      s = set()
      s.add(10)
      s.add(10)  # Duplicate
      Behind the scenes:
       - hash(10) is called
       - Set checks if that hash already exists
       - It does → no new element is added

In [ ]:
my_set = {1, 2, 2, 3, 4, 4, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

# 14)  How does the “in” keyword work differently for lists and dictionaries?
- When you use in with a list, Python does a linear search through the list elements.
-
     my_list = [10, 20, 30, 40]
     print(20 in my_list)
     output:-  True
     Python goes through each element one by one.
     Time complexity: O(n) (slower for long lists)
- When you use in with a dictionary, Python checks for the existence of a key, not the value.
-
     my_dict = {'a': 1, 'b': 2}
     print('a' in my_dict)    
     output:-  True (key check)

     print(1 in my_dict)      
     output:-  False (1 is a value, not a key)

     dictionary uses a hash table to check for keys.
     Very fast: O(1) on average.  # time complexity

# 15) Can you modify the elements of a tuple? Explain why or why not?
- No, Because tuples are immutable. Once a tuple is created, its size and elements cannot be changed—no add, no remove, no update.

# 16) What is a nested dictionary, and give an example of its use case?
- A nested dictionary is simply a dictionary inside another dictionary.
 it helps you to Represent complex, structured data.

In [ ]:
# Student Database

students = {
    "101": {
        "name": "Shubham",
        "age": 22,
        "marks": {"math": 90, "physics": 85}
    },
    "102": {
        "name": "Riya",
        "age": 21,
        "marks": {"math": 88, "physics": 92}
    }
}
print(students)

# Outer dictionary keys: student IDs ("101", "102")
# Inner dictionaries: details about each student

print(students["101"]["name"])
print(students["102"]["marks"]["math"])

{'101': {'name': 'Shubham', 'age': 22, 'marks': {'math': 90, 'physics': 85}}, '102': {'name': 'Riya', 'age': 21, 'marks': {'math': 88, 'physics': 92}}}
Shubham
88

# 17)  Describe the time complexity of accessing elements in a dictionary?
-  Average Case: O(1)
- Accessing an element by key is constant time on average.
- Python internally uses a hash table to store and manage dictionary data efficiently.so it can jump straight to the memory location of the value using the key’s hash.

In [ ]:
my_dict = {"name": "Shubham", "age": 22}
print(my_dict["name"])                            # time complexity-  O(1)

Shubham

# 18)  In what situations are lists preferred over dictionaries?
- If you're just storing a sequence of values and don’t need to associate them with keys, go with a list.
       fruits = ["apple", "banana", "mango"]  # Simple ordered collection
-Lists allow duplicate values.In contrast, dictionary keys must be unique.
- list allows Index-based search access.
-  Iterating Over a Simple Collection.
 - When you just want to loop over values, a list is more natural:
         for fruit in fruits:
         print(fruit)

# 19)  Why are dictionaries considered unordered, and how does that affect data retrieval?
- Originally (before Python 3.7), dictionaries were considered unordered collections, meaning, They didn't guarantee that items would stay in the same order in which you added them.
- but,Since Python 3.7, dictionaries now preserve insertion order.However, even with this change, dictionaries are still referred to as unordered collections because their primary function is to provide fast access to values via keys, rather than to serve as ordered collections like lists or tuples.

- How Does Unordered Nature Affect Data Retrieval?
  * No Index-Based Access:- Since dictionaries are unordered, you cannot rely on indices (like in lists) to access elements. Instead, you must use keys to retrieve values.
  * Iteration Order:- Iterating over a dictionary (e.g., using a for loop) does not guarantee a specific order unless the dictionary explicitly maintains insertion order (as in Python 3.7+).
  * Efficiency of Lookups:- The unordered nature allows dictionaries to achieve average-case O(1) time complexity for lookups, insertions, and deletions, making them highly efficient for key-based operations.
  *

In [ ]:
# Example in Python (3.7+):

my_dict = {"a": 1, "b": 2, "c": 3}
for key in my_dict:
    print(key)

a
b
c

# 20) Explain the difference between a list and a dictionary in terms of data retrieval?
- a) List – Index-Based data Retrieval

In [ ]:
my_list = ["apple", "banana", "cherry"]
print(my_list[1])

banana

- b) Dictionary – Key-Based data Retrieval

In [ ]:
my_dict = {"name": "Shubham", "age": 22}
print(my_dict["name"])

Shubham

**practical questions**

# 1)  Write a code to create a string with your name and print it

In [6]:
x=input("enter your name :")
print(x)

enter your name :SHUBHAM KUMAR
SHUBHAM KUMAR

# 2) Write a code to find the length of the string "Hello World"

In [7]:
x= "Hello World"
print(len(x))

11

# 3)  Write a code to slice the first 3 characters from the string "Python Programming"

In [8]:
x="Python Programming"
x[0:3]

'Pyt'

# 4)  Write a code to convert the string "hello" to uppercase

In [13]:
x="hello"
print(x.upper())
print(x.swapcase())

HELLO
HELLO

# 5)  Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [14]:
x="I like apple"
x.replace("apple","orange")

'I like orange'

# 6)  Write a code to create a list with numbers 1 to 5 and print it

In [16]:
x=[i for i in range(1,6)]
x

[1, 2, 3, 4, 5]

# 7)  Write a code to append the number 10 to the list [1, 2, 3, 4]

In [17]:
x=[1, 2, 3, 4]
x.append(10)
x

[1, 2, 3, 4, 10]

# 8)  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [18]:
x=[1, 2, 3, 4, 5]
x.remove(3)
x

[1, 2, 4, 5]

# 9)  Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [19]:
x=['a', 'b', 'c', 'd']
x[1]

'b'

# 10)  Write a code to reverse the list [10, 20, 30, 40, 50].

In [20]:
x=[10, 20, 30, 40, 50]
print(x[::-1])

[50, 40, 30, 20, 10]

# 11) Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [25]:
x=tuple(map(int,input("enter a number").split()))
x

enter a number100 200 300

(100, 200, 300)

# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [29]:
x= ('red', 'green', 'blue', 'yellow')
x[1:]

('green', 'blue', 'yellow')

#  13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [30]:
x=min(10, 20, 5, 15)
x

5

#  14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [31]:
x=('dog', 'cat', 'rabbit')
x.index('cat')

1

# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [32]:
x = tuple(input("Enter fruits: ").split())
if "kiwi" in x:
    print("kiwi is in it")
else:
    print("kiwi is not in it")

Enter fruits: apple banana guava
kiwi is not in it

# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [33]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [34]:
x={1, 2, 3, 4, 5}
x.clear()
x

set()

#  18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [35]:
x={1, 2, 3, 4}
x.remove(4)
x

{1, 2, 3}

#  19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [36]:
s1={1, 2, 3}
s2={3, 4, 5}
s1.union(s2)

{1, 2, 3, 4, 5}

#  20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [37]:
s1={1, 2, 3}
s2={3, 4, 5}
s1&(s2)

{3}

#  21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [38]:
dict={"name":"shubham", "age":"25", "city":"dhanbad"}
dict

{'name': 'shubham', 'age': '25', 'city': 'dhanbad'}

# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [39]:
x={'name': 'John', 'age': 25}
x["country"]="USA"
x

{'name': 'John', 'age': 25, 'country': 'USA'}

# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [40]:
x={'name': 'Alice', 'age': 30}
x["name"]

'Alice'

#  24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [41]:
x = {'name': 'Bob', 'age': 22, 'city': 'New York'}
x.pop('age')

print(x)

{'name': 'Bob', 'city': 'New York'}

# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [42]:
x = {'name': 'Alice', 'city': 'Paris'}

if 'city' in x:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist.")

Key 'city' exists in the dictionary.

# 26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [43]:
# Creating a list
my_list = [1, 2, 3, 4]

# Creating a tuple
my_tuple = ('a', 'b', 'c')

# Creating a dictionary
my_dict = {'name': 'Shubham', 'age': 25}

# Printing all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Shubham', 'age': 25}

#  27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [44]:
import random

# Create a list of 5 random numbers between 1 and 100
random_list = random.sample(range(1, 101), 5)

# Sort the list in ascending order
random_list.sort()

# Print the result
print("Sorted Random List:", random_list)

Sorted Random List: [8, 18, 53, 59, 100]

# 28. Write a code to create a list with strings and print the element at the third index.

In [45]:
my_list = ['apple', 'banana', 'cherry', 'date', 'baigan']
print(my_list[3])

date

#  29. Write a code to combine two dictionaries into one and print the result.

In [46]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

# Combine dictionaries using update()
dict1.update(dict2)

# Print the result
print("Combined Dictionary:", dict1)

Combined Dictionary: {'a': 1, 'b': 3, 'c': 4}

#  30. Write a code to convert a list of strings into a set.

In [48]:
my_list = ['apple', 'banana', 'cherry', 'date', 'baigan']
my_set = set(my_list)
print(my_set)

{'baigan', 'banana', 'date', 'apple', 'cherry'}